@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-slide-in {
  animation: slideInUp 0.8s ease-out forwards;
}


@keyframes floatUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}
.animate-float {
  animation: floatUpDown 2s ease-in-out infinite;
}
